:root {
  background-color: #26272b;
  font-family: "IBM Plex Mono", monospace;
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  background: #1e1e24;
}

::-webkit-scrollbar-thumb {
  background: rgba(56, 117, 208);
}

.apps {
  padding: 2rem 7rem 2rem 7rem;
  background-color: #26272b;
}

p {
  font-family: "IBM Plex Mono", monospace;
  color: #fdfcfc;
  font-size: 1rem;
  font-weight: 500;
}

h1 {
  font-family: "IBM Plex Mono", monospace;
  color: #fdfcfc;
  font-size: 1.5rem;
  font-weight: 800;
}

.search {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#searchBar {
  width: 100%;
  height: 3rem;
  border-radius: 3px;
  border: 1px solid #eaeaea;
  padding: 5px 10px;
  font-size: 2rem;
}

#searchWrapper {
  position: relative;
}

#visit {
  padding: 10px;
  margin: 0 2% 50% 5%;
}

.btn-dark {
  background-color: #504e4e;
  color: #fdfcfc;
  font-family: "IBM Plex Mono", monospace;
  font-size: 1rem;
  border-radius: 10px;
  justify-content: center;
  align-items: flex-end;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.filter-btn {
  padding: 10px;
  color: #fdfcfc;
  text-decoration: none;
  background-color: #504e4e;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-size: 1em;
  margin: 0.2%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  /* -webkit-box-shadow: 0px 9px 0px, 0px 9px 25px;
  -moz-box-shadow: 0px 9px 0px, 0px 9px 25px;
  box-shadow: 0px 9px 0px, 0px 9px 25px; */
  display: block;
  border: none;

  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.filter-btn:active {
  -webkit-box-shadow: 0px 3px 0px rgba(56, 117, 208),
    0px 3px 6px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 3px 0px rgba(56, 117, 208),
    0px 3px 6px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 3px 0px rgba(56, 117, 208), 0px 3px 6px rgba(0, 0, 0, 0.9);
  position: relative;
  top: 6px;
}

.contribute p a {
  color: #fdfcfc;
  font-size: large;
  font-weight: 900;
}
.contribute p a:hover {
  color: rgba(56, 117, 208);
  font-size: large;
  font-weight: 900;
}
.section-center {
  justify-items: start;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  /* border: 2px solid red; */
}
.item-content {
  border-radius: 5px;
  width: 22.5em;
  flex-basis: 33%;
  flex-shrink: 0;
  height: 18em;
  /* border: 2px solid green; */
  position: relative;
  background-color: rgba(56, 117, 208);
}

.title button {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.photo-box {
  border-radius: 5px;
  /* border: 3px solid pink; */
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo-box img {
  height: 100%;
  width: 22.5em;
  object-fit: contain;
}

.title-and-icon {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.title {
  margin: 0.2em 0 0 1em;
  width: 80%;

  /* border: 2px solid blue; */
}

.title p {
  height: 3em;
  overflow: auto;
}

.icon {
  /* border: 3px solid yellow; */
  height: 20%;
}

.demo {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  padding-top: 32px;
  margin-top: 5%;
  border-top: 3px solid rgba(56, 117, 208);
}

.demo h1 {
  margin-top: 0;
}

/**
 * Footer Styles
 */

.footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.2rem;
  color: #fdfcfc;
  background-color: rgba(56, 117, 208);
  text-align: center;
}

.footer p {
  font-weight: 800;
  font-size: 1rem;
}

.link svg {
  background-color: #504e4e;
  padding: 10px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  color: #fdfcfc;
}

.link svg:hover {
  background-color: rgba(56, 117, 208);
}

@media only screen and (max-width: 1200px) {
  .section-center {
    justify-items: start;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    /* border: 2px solid red; */
  }
}

@media only screen and (max-width: 600px) {
  .section-center {
    justify-items: start;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    /* border: 2px solid red; */
  }
}
